# Dependencies
node_modules/

# Expo and build artifacts
.expo/
dist/
build/
web-build/
android/app/build/
ios/build/
ios/Pods/
ios/.pods/
*.xcworkspace
*.pbxproj
expo-env.d.ts

# Debug and log files
npm-debug.*
yarn-debug.log*
yarn-error.log*
*.log

# Certificates and keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
*.swp
.fuse_hidden*

# Environment files (Keep .env.local if you use it for local overrides)
.env
!.env.local

# IDE and editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Other temporary files and backups
*.orig.*
*.bak
*.tmp